body {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #111;
}

.reader {
	font-family: 'Crimson Text', serif;
}

h1,h2,h3,h4 {
	font-weight: 100;
}

a, a:hover {
	color: #333;
}

a:hover {
	text-shadow: #222 0 0 8px;
	text-decoration: none;
}

.copyright {
	font-size: 14px;
}

.view {
	font-size: 18px;
}

.chapter-num {
	display: none;
}

.navbar-inverse {
	background: #990511;
}

.settings {
	background: #ccc;
}

.navbar {
	border: 0;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 22px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #eee;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: none;
}

.navbar-inverse .navbar-nav>li>a:active {
	background-color: none;
}

.navbar .nav li {
	line-height: 30px;
}

.nav-pills>li>a {
	border-radius: 0;
}

@media (max-width: 768px) {
	.navbar-brand {
		padding-left: 0;
	}
}

.tile {
	padding: 50px 0;
}

.verse-num {
	font-size: 60%;
	color: #999;
}

.jumbotron p {
	font-weight: 300;
}

/* Google web font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url(3IFMwfRa07i-auYR-B-zNYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}